[submodule "RPI-Pico-Getting-Started"]
	path = RPI-Pico-Getting-Started
	url = https://github.com/stevenhernandezz/RPI-Pico-Getting-Started
[submodule "RPI-Pico-Interfacing-LCD"]
	path = RPI-Pico-Interfacing-LCD
	url = https://github.com/stevenhernandezz/RPI-Pico-Interfacing-LCD
[submodule "RPI-Pico-SSD"]
	path = RPI-Pico-SSD
	url = https://github.com/stevenhernandezz/RPI-Pico-SSD
[submodule "RPI-Pico-Interrupt-Simulation"]
	path = RPI-Pico-Interrupt-Simulation
	url = https://github.com/stevenhernandezz/RPI-Pico-Interrupt-Simulation
